<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="#">
    <meta name="keywords" content="#">
    <meta name="author" content="#">
    <title>Components</title>
    <!-- CALL: ICON -->
    <link rel="icon" href="../../assets/images/logo.png" type="image/gif" sizes="16x16">
    <!-- CALL: SWIPER CSS -->
    <link rel="stylesheet" href="../../scripts/swiper/swiper-bundle.min.css">
    <!-- CALL: TAILWIND -->
    <link rel="stylesheet" href="../../styles/css/dist/tailwind.css">
    <!-- CALL: ABOUTUSCSS -->
    <link rel="stylesheet" href="../../styles/css/dist/about-us.css">
    <!-- CALL: GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
</head>
    <!-- NAV -->
    <nav id="nav" class="w-full fixed z-50 bg-white-90 border-b border-white-60">
        <div class="container px-8">
            <div class="h-96px w-full flex items-center justify-between">
                <div class="w-1/5">
                    <a href="#" class="py-1 px-2">
                        <img src="../../assets/images/icon-kanoo-nav.png" height="48" width="136" alt="#">
                    </a>
                </div>
                <div class="w-4/5 flex items-center justify-end">
                    <a href="#" class="font-semibold text-16px text-black-70 py-1 px-2">Company</a>
                    <a href="#" class="font-semibold text-16px text-black-70 py-1 px-2 ml-3">Service</a>
                    <a href="#" class="font-semibold text-16px text-black-70 py-1 px-2 ml-3">Testimoni</a>
                    <a href="#" class="font-semibold text-16px text-black-70 py-1 px-2 ml-3">Blog</a>
                    <a href="#" class="h-40px w-136px inline-flex-col-center font-semibold text-14px text-oren-100 bg-white border border-oren-100 rounded-4px ml-8">Login</a>
                    <a href="#" class="h-40px w-136px inline-flex-col-center font-semibold text-14px text-white bg-oren-100 rounded-4px ml-6">Form</a>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>