<!-- Nama pages-->
{% set title = 'Kanno - Blog Detail' %}
{% set style = 'blog-detail' %}
{% extends "landing-page.njk" %}

{% block content %}
   <!-- COVER BODY: MODAL -->
    <div class="kanoo-cover-body"></div>
    <!-- IMG HEADER -->
    <header class="img-header relative top-96px w-full mb-16">
        <img src="../assets/img/blog-detail-header.png" class="h-full w-full object-cover">
    </header>
    <!-- CONTENT -->
    <div class="container-kanoo mb-96px">
        <div class="grid grid-cols-12 gap-10">
            <div class="col-span-7 bg-white rounded-8px px-4 py-6">
                <h1 class="text-black-100 text-32px font-bold mb-6 leading-tight">Proses Kerja Product Development di Startup</h1>
                <div class="mb-6 flex items-center space-x-6 text-black-50 text-14px">
                    <img src="https://placekitten.com/50/50" class="rounded-full w-56px h-56px">
                    <p>Dibuat oleh <span class="font-semibold text-black-100">Author</span> pada 18 April 2019</p>
                    <p>Category Name</p>
                </div>
                <p class="text-black-70 text-16px leading-34px text-justify pb-24">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, Curabitur Vestibulum blandit viverra. suspendisse ante Ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit, Curabitur Vestibulum blandit viverra. suspendisse ante Ex. <br><br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, Curabitur Vestibulum blandit viverra. suspendisse ante Ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit, Curabitur Vestibulum blandit viverra. suspendisse ante Ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit, Curabitur Vestibulum blandit viverra. suspendisse ante Ex.Lorem ipsum dolor sit amet, consectetur adipiscing elit, Curabitur Vestibulum blandit viverra. suspendisse ante ExLorem ipsum dolor sit amet, consectetur adipiscing elit, Curabitur Vestibulum blandit viverra. suspendisse ante Ex.Lorem ipsum dolor sit amet, consectetur adipiscing elit, Curabitur Vestibulum blandit viverra. suspendisse ante Ex.
                </p>
            </div>
            <div class="col-span-5">
                <h1 class="text-28px text-black-100 font-bold mb-8 mt-7">Blog Terkait</h1>
                <div class="mb-6">
                    <div class="w-full mt-8 flex items-center space-x-6">
                        <div class="w-4/12">
                            <img src="https://placekitten.com/200/150" class="rounded-8px">
                        </div>
                        <div class="w-8/12">
                            <h1 class="font-bold text-24px pb-4 text-black-100">Judul Blog</h1>
                            <div class="text-black-50 flex items-center">
                                <span id="cat">Kategori</span>
                                <span>29 Apr 2021</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-6">
                    <div class="w-full mt-8 flex items-center space-x-6">
                        <div class="w-4/12">
                            <img src="https://placekitten.com/200/150" class="rounded-8px">
                        </div>
                        <div class="w-8/12">
                            <h1 class="font-bold text-24px pb-4 text-black-100">Judul Blog</h1>
                            <div class="text-black-50 flex items-center">
                                <span id="cat">Kategori</span>
                                <span>29 Apr 2021</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-6">
                    <div class="w-full mt-8 flex items-center space-x-6">
                        <div class="w-4/12">
                            <img src="https://placekitten.com/200/150" class="rounded-8px">
                        </div>
                        <div class="w-8/12">
                            <h1 class="font-bold text-24px pb-4 text-black-100">Judul Blog</h1>
                            <div class="text-black-50 flex items-center">
                                <span id="cat">Kategori</span>
                                <span>29 Apr 2021</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}