{% set title = 'Create Service 3' %}
{% extends 'nav-login-freelance.njk' %}

{% block head %}
    <style>
        #cover-tosca {
            height: 488px;
            width: 100%;
            position: absolute;
            background-color: #00CA8D;
        }

        #article {
            width: calc(100% - 407px - 2rem);
            background-color: #FDFEFF;
            border-radius: 8px;
        }
        #aside {
            width: 407px;
            background-color: #FDFEFF;
            border-radius: 8px;
        }

        .step-nav::after {
            content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 17.0002C10.3684 17.0009 10.2379 16.9757 10.1161 16.9259C9.99426 16.8762 9.88344 16.8029 9.79 16.7102C9.69627 16.6172 9.62188 16.5066 9.57111 16.3848C9.52034 16.2629 9.4942 16.1322 9.4942 16.0002C9.4942 15.8682 9.52034 15.7375 9.57111 15.6156C9.62188 15.4937 9.69627 15.3831 9.79 15.2902L13.1 12.0002L9.92 8.69017C9.73375 8.50281 9.62921 8.24936 9.62921 7.98517C9.62921 7.72099 9.73375 7.46754 9.92 7.28017C10.013 7.18644 10.1236 7.11205 10.2454 7.06128C10.3673 7.01051 10.498 6.98438 10.63 6.98438C10.762 6.98438 10.8927 7.01051 11.0146 7.06128C11.1364 7.11205 11.247 7.18644 11.34 7.28017L15.2 11.2802C15.3832 11.4671 15.4859 11.7184 15.4859 11.9802C15.4859 12.2419 15.3832 12.4932 15.2 12.6802L11.2 16.6802C11.1102 16.7771 11.0022 16.8553 10.882 16.9102C10.7619 16.9651 10.632 16.9957 10.5 17.0002Z' fill='%23F2EBC5'/%3E%3C/svg%3E%0A");;
            position: relative;
            top: 5px;
            margin: 0 32px;
        }
        @media screen and (max-width: 640px) {
            .step-nav::after {
                margin: 0 8px;
            }
        }

        /* CHECKBOX TOGGLE SWITCH */
        .toggle-checkbox:checked {
            right: 0;
            background-color: #EA3AA1; 
        }   
    </style>
{% endblock %}

{% block content %}
    <!-- step nav -->
    <div class="relative pt-76px sm:pt-96px">
        <div class="mb-14 bg-kuning-100 text-kuning-30">
            <ul class="container-kanoo h-80px flex items-center justify-center">
                <li class="step-nav flex items-center space-x-4">
                    <a href="#" class="md:text-24px font-semibold">Overview</a>
                </li>
                <li class="step-nav flex items-center space-x-4">
                    <a href="#" class="md:text-24px font-semibold">Pricing Option</a>
                </li>
                <li class="flex text-white items-center space-x-4">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="40" height="40" rx="20" fill="#FDFEFF"/>
                        <path d="M20 10C16.134 10 13 13.134 13 17C13 20.966 17.404 26.82 19.226 29.071C19.626 29.565 20.374 29.565 20.774 29.071C22.596 26.82 27 20.966 27 17C27 13.134 23.866 10 20 10ZM20 19.5C18.619 19.5 17.5 18.381 17.5 17C17.5 15.619 18.619 14.5 20 14.5C21.381 14.5 22.5 15.619 22.5 17C22.5 18.381 21.381 19.5 20 19.5Z" fill="#D9BF3F"/>
                    </svg>
                    <a href="#" class="md:text-24px font-semibold">Publish</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- MAIN -->
    <main>
        <div class="container-kanoo">
            <div class="mb-10 flex flex-col md:flex-row md:items-center md:space-x-3 justify-between">
                <div class="">
                    <h1 class="font-bold text-3xl md:text-40px mb-2">Live Preview & Publish</h1>
                    <p class="text-16px text-black-100">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                </div>
                <div class="flex justify-between mt-8 md:mt-0">
                    <button class="md:mr-4 border border-meja-100 text-meja-100 h-52px w-36 sm:w-48 rounded-4px text-20px font-semibold">
                        Back
                    </button>
                    <button class="bg-meja-100 text-white h-52px w-36 whitespace-nowrap sm:w-48 rounded-4px text-20px font-semibold">
                        Publish Now
                    </button>
                </div>
            </div>
            <div class="w-full flex flex-wrap items-start justify-between py-16">
                <article id="article" class="py-12">
                    <!-- TITLE -->
                    <div class="mb-4">
                        <h1 class="font-semibold text-32px text-black-100 leading-48px">Help you to make a Poster Design for marketing and social media needs</h1>
                    </div>
                    <!-- BORDER -->
                    <div class="border-b border-black-10 my-6"></div>
                    <!-- PROFILE -->
                    <div class="flex items-center mb-6">
                        <div class="mr-4">
                            <img class="rounded-full" src="../../assets/img/user.png" height="56" width="56" alt="#">
                        </div>
                        <div class="mr-4">
                            <strong class="font-semibold text-20px text-black-100">Yomoto Santoso</strong>
                            <p class="text-16px text-black-70">Seller Level 2</p>
                        </div>
                        <div class="inline-flex items-center ml-auto">
                            <svg class="ml-1" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.9472 2.80422L15.6062 8.19222L21.5522 9.05622C22.4192 9.18222 22.7662 10.2482 22.1382 10.8602L17.8352 15.0542L18.8512 20.9762C18.9992 21.8402 18.0932 22.4982 17.3172 22.0912L11.9992 19.2952L6.68122 22.0912C5.90522 22.4992 4.99922 21.8402 5.14722 20.9762L6.16322 15.0542L1.85922 10.8602C1.23222 10.2482 1.57822 9.18322 2.44522 9.05722L8.39122 8.19322L11.0502 2.80522C11.4392 2.01822 12.5592 2.01822 12.9472 2.80422Z" fill="#FFB422"/>
                            </svg>
                            <svg class="ml-1" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.9472 2.80422L15.6062 8.19222L21.5522 9.05622C22.4192 9.18222 22.7662 10.2482 22.1382 10.8602L17.8352 15.0542L18.8512 20.9762C18.9992 21.8402 18.0932 22.4982 17.3172 22.0912L11.9992 19.2952L6.68122 22.0912C5.90522 22.4992 4.99922 21.8402 5.14722 20.9762L6.16322 15.0542L1.85922 10.8602C1.23222 10.2482 1.57822 9.18322 2.44522 9.05722L8.39122 8.19322L11.0502 2.80522C11.4392 2.01822 12.5592 2.01822 12.9472 2.80422Z" fill="#FFB422"/>
                            </svg>
                            <svg class="ml-1" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.9472 2.80422L15.6062 8.19222L21.5522 9.05622C22.4192 9.18222 22.7662 10.2482 22.1382 10.8602L17.8352 15.0542L18.8512 20.9762C18.9992 21.8402 18.0932 22.4982 17.3172 22.0912L11.9992 19.2952L6.68122 22.0912C5.90522 22.4992 4.99922 21.8402 5.14722 20.9762L6.16322 15.0542L1.85922 10.8602C1.23222 10.2482 1.57822 9.18322 2.44522 9.05722L8.39122 8.19322L11.0502 2.80522C11.4392 2.01822 12.5592 2.01822 12.9472 2.80422Z" fill="#FFB422"/>
                            </svg>
                            <svg class="ml-1" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.9472 2.80422L15.6062 8.19222L21.5522 9.05622C22.4192 9.18222 22.7662 10.2482 22.1382 10.8602L17.8352 15.0542L18.8512 20.9762C18.9992 21.8402 18.0932 22.4982 17.3172 22.0912L11.9992 19.2952L6.68122 22.0912C5.90522 22.4992 4.99922 21.8402 5.14722 20.9762L6.16322 15.0542L1.85922 10.8602C1.23222 10.2482 1.57822 9.18322 2.44522 9.05722L8.39122 8.19322L11.0502 2.80522C11.4392 2.01822 12.5592 2.01822 12.9472 2.80422Z" fill="#FFB422"/>
                            </svg>
                            <svg class="ml-1" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.9472 2.80422L15.6062 8.19222L21.5522 9.05622C22.4192 9.18222 22.7662 10.2482 22.1382 10.8602L17.8352 15.0542L18.8512 20.9762C18.9992 21.8402 18.0932 22.4982 17.3172 22.0912L11.9992 19.2952L6.68122 22.0912C5.90522 22.4992 4.99922 21.8402 5.14722 20.9762L6.16322 15.0542L1.85922 10.8602C1.23222 10.2482 1.57822 9.18322 2.44522 9.05722L8.39122 8.19322L11.0502 2.80522C11.4392 2.01822 12.5592 2.01822 12.9472 2.80422Z" fill="#FFB422"/>
                            </svg>
                            <span class="font-semibold text-16px text-black-50 ml-2">5.0 (11)</span>
                        </div>
                    </div>
                    <!-- PRIMARY IMAGE -->
                    <div class="mb-6">
                        <img class="w-full object-cover" src="../../assets/img/freelance-list-1.png" height="400" alt="#">
                    </div>
                    <!-- SECONDARY IMAGE -->
                    <div class="flex">
                        <img class="mr-3" src="../../assets/img/freelance-service-2.png" height="120" width="200" alt="#">
                        <img class="mr-3" src="../../assets/img/freelance-service-3.png" height="120" width="200" alt="#">
                        <img class="mr-3" src="../../assets/img/freelance-service-4.png" height="120" width="200" alt="#">
                    </div>
                    <!-- BORDER -->
                    <div class="border-b border-black-10 my-8"></div>
                    <!-- DESKRIPSI -->
                    <section class="mb-10">
                        <h3 class="font-semibold text-28px text-black-100 mb-6">Deskripsi</h3>
                        <p class="text-20px text-black-70 leading-34px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut ex eacommodo consequat.</p>
                    </section>
                </article>
                <aside id="aside" class="py-12 px-8 border">
                    <div>
                        <h3 class="font-semibold text-28px text-black-100">Pilih Paket</h3>
                    </div>
                    <div class="border-b border-black-10 my-8"></div>
                    <div>
                        <h2 class="font-semibold text-24px text-black-100 mb-4">Paket Bronze</h2>
                        <p class="text-16px text-black-70 leading-28px mb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <div class="flex items-center justify-between">
                            <strong class="font-bold text-24px text-meja-100">Rp. 100.000</strong>
                            <a href="#" class="font-semibold text-20px text-white-90 bg-black-30 rounded-4px py-2 px-8">Pilih Paket</a>
                        </div>
                    </div>
                    <div class="border-b border-black-10 my-8"></div>
                    <div>
                        <h2 class="font-semibold text-24px text-black-100 mb-4">Paket Silver</h2>
                        <p class="text-16px text-black-70 leading-28px mb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <div class="flex items-center justify-between">
                            <strong class="font-bold text-24px text-meja-100">Rp. 200.000</strong>
                            <a href="#" class="font-semibold text-20px text-white-90 bg-black-30 rounded-4px py-2 px-8">Pilih Paket</a>
                        </div>
                    </div>
                    <div class="border-b border-black-10 my-8"></div>
                    <div>
                        <h2 class="font-semibold text-24px text-black-100 mb-4">Paket Gold</h2>
                        <p class="text-16px text-black-70 leading-28px mb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <div class="flex items-center justify-between">
                            <strong class="font-bold text-24px text-meja-100">Rp. 300.000</strong>
                            <a href="#" class="font-semibold text-20px text-white-90 bg-black-30 rounded-4px py-2 px-8">Pilih Paket</a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </main>
{% endblock %}