<!-- Nama pages-->
{% set title = 'Kanno - User Dashboard' %}
{% set style = 'settings' %}
{% extends "user-dashboard.njk" %}

{% block content %}
  <!-- MAIN -->
    <main id="main-settings">
        <div class="container-kanoo">
            <div class="row-flex-kanoo">
                <aside class="aside-settings">
                    <div class="mb-24px">
                        <h3 class="aside-title">Settings</h3>
                    </div>
                    <div class="mb-16px">
                        <a href="./settings-account.html" class="aside-link">Account</a>
                    </div>
                    <div class="mb-16px">
                        <a href="./settings-security.html" class="aside-link aside-link-active">Security</a>
                    </div>
                    <div>
                        <a href="./settings-billings.html" class="aside-link">Billings</a>
                    </div>
                </aside>
                <div class="main-line"></div>
                <section class="section-settings">
                    <div class="mb-8px">
                        <h1 class="section-title">Security Settings</h1>
                    </div>
                    <div class="mb-40px">
                        <h6 class="section-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</h6>
                    </div>
                    <div class="section-settings-container">
                        <div class="row-flex-kanoo justify-between">
                            <div>
                                <h5 class="section-subtitle mb-8px">My Password</h5>
                                <span class="text-16px leading-28px mb-8px">*************</span>
                                <p class="text-16px leading-28px text-success-condition">Your current password is good enough</p>
                            </div>
                            <a href="#" class="section-button-link">Change Password</a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <!-- COVER BODY: MODAL -->
    <div class="kanoo-cover-body"></div>
{% endblock %}